*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: white;

}

/*Centrando*/

.contenedor{
    width: 70%;
    margin: 0 auto;
    box-shadow: 10px 20px 15px black;
}

.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:rgb(207, 203, 203);
}

@media(max-width: 1380px) and (min-width: 835px){
    .contenedor{
        width: 94%!important;
    }
    .navegacion{
        height: 589px!important;
    }
    .contenedor-contenido{
        height: 589px!important;

    }


}
@media(max-width: 835px) and (min-width: 576px){
    .principal{
        height: 100%!important;
    }
    
    .contenedor{
        width: 85%!important;
        height: auto; 
    }
    .contenedor-contenido{
        width: 100%!important;
        height: auto!important;
    }
    .foto{
        margin-top:10px ;
        width: 100%!important;
        height: 50vh!important;
    }
    .navegacion{
        width: 100%!important;
        display: block!important;
        height: auto!important;
        float: none!important;
    }
    .navegacion ul{
        padding: 0!important;
    }
    .navegacion img{
    
        width: 75px!important;
     }
     .navegacion li{
        padding-right:10px!important ;
        display: inline-block!important;
    }

}
@media(max-width: 576px){
    .contenedor{
        width: 100%!important; 
    }
    .principal{
        display: block!important;
    }

    .navegacion{
        width: 100%!important;
        display: block!important;
        height: auto!important;
        float: none!important;
    }
    .navegacion ul{
        padding: 0!important;
    }
    .navegacion img{
    
        width: 75px!important;
     }

     .foto{
         margin-top:10px ;
         width: 100%!important;
         height: 45vh!important;
     }
     .contenedor-contenido{
         width: 100%!important;
         height: auto!important;
     }

     .navegacion li{
         padding-right:7px!important ;
         display: inline-block!important;
     }
     #img-idioma{
        width: 24%!important;
     
    }
    #titulo-idioma{
        width: 46%!important;
    }
    #titulo-habilidad{
        width: 47%!important;
    
    }
    .atributo2{
       bottom: 0!important;
       padding: 0 25px!important;
       width: 49%!important;
    }
    .atributo1{
        position: relative;
        top: -65px;
        margin-top: 0!important;
        padding: 0 0!important;
        width: 48%!important;
     }
   .pasa{
       margin-top: 7px;
   }
   .navegacion li:hover{
    transform: scale(1.2)!important
}

}

/*Menu*/
.navegacion{

    float: left;
    width: 7%;
    height: 580px;
    background: url(../img/OGA3ET0.jpg);
    background-size: cover;
    background-position: center;
   
}
.navegacion ul{
    text-align: center;
    list-style: none;
    padding: 140px 25px 0px 10px ;

}
.navegacion ul li{
    padding: 10px 0;

}

.navegacion li:hover{
    transform: scale(1.3)
}

.navegacion img{
    
   width: 100%;
}
/*Foto*/
.foto{background:  url(../img/model-2890201_1920.jpg);

    float: left;
    width: 33%;
    height: 580px;
    background-size: cover;
    background-position: center;
    transform: scale(1.1)
}
    


/*Contenido*/

.contenido-font{
    font-size: 17px;
    color: rgb(187, 183, 183);
    font-family: 'Dosis', sans-serif;
}

.titulo-font{
    font-family: 'Playfair Display', serif; 
    color: goldenrod;
}
#img-idioma{
    margin-left: 10px;
    width: 10%;
 
}
.contenedor-contenido{
    width: 60%;
    display: inline-block;
    height: 580px;
    background:linear-gradient(
        rgba(34, 33, 33, 0.8),
        rgba(43, 41, 41, 0.2),
        rgba(31, 30, 30, 0.8)
    ), url(../img/OGA3ET0.jpg);
    background-size: cover;
    background-position: center;
}
article{
    padding: 20px 30px;
    
}
#titulo-idioma{
    width: 50%;
    display: inline-block;
}
#titulo-habilidad{
    width: 49%;
    display: inline-block;

}
.contenedor-contenido h1, h2{
    text-align: center;
    font-size: 30px;

}
.contenido{
    margin-top: 25px;
    padding: 10px 0;
    border-top: 5px dotted rgb(255, 196, 0);

}
.datos{
    text-align: center;
    margin: 10px auto;
}
p{
    text-align: justify;
    
}
.atributo{
    margin-top: 10px;
    display: inline-block;
    padding: 10px 10px;
    width: 49%;
}
.atributo1{

    margin-top: 10px;
    padding: 10px 10px;
    width: 49%;
    display: inline-block
    
}

.atri-ul{
    display: inline;
    text-align: center;
    list-style: none;
}

.atri-ul li{
    padding: 10px 0;
}

.atri-ul img{
    margin-right: 10px ;
    height: 15px;
}

.atributo2{
    bottom: 43px;
    position: relative;
    padding: 10px 10px;
    width: 49%;
    display: inline-block
    
}

.atri-ul2{
    float: left;
    display: inline;
    text-align: center;
    list-style: none;
}

.atri-ul2 li{
    padding: 3px 0;
}
.atri-ul2 img{
    margin-right: 10px ;
    height: 15px;
}
#titulo-pasa{
    width: 100%;

}

#titulo-pasa img{
    width: 29.25px;
}

.atri-ul3{
    display: inline;
    text-align: center;
    list-style: none;
}

.atri-ul3 li{
    padding: 3px 0;
}
.atri-ul3 img{
    margin-right: 10px ;
    height: 15px;
}
.pasa-imgs{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pasa-img1, .pasa-img2, .pasa-img3{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 30px;
    justify-content: center;
    align-items: center;
}



